.submitPost{
    button{
        border: 2px solid white;
        color: white;
        margin-right: 30px;
        margin-top: 30px
    }
}

.formContainer {
    margin-left: 50px;
    padding-bottom: 50px
}