
.AppContainer {
  position: relative;
  /* background-image: url('../images/homepage-background.jpg'); */
  background-size: cover;
  overflow: hidden;
  /* background-color: #282c34; */
  width: 100vw;
  height: 100vh;
}

.AppContainer .LoginBox{
  position: absolute;
  right: 175px;
  font-weight: 100;
}

.AppContainer .ButtonBar{
  background-color: #282c34;
  width: 100%;
  height: 6%;
  justify-items: center;
}

.AppContainer .LoginContainer{
  height: 100%;
}

.AppContainer .LoginBoundary{
  min-height: 400px;
}


.AppContainer .LogoContainer{
  height: 100%;
  width: 100%;
  top: 6%;
  position: absolute;
  background-image: url('../images/sd-background.jpg');
  background-size: inherit;
}

.AppContainer .LoginButton:hover{
  transition: 0.2s;
  background: black;
}

.LoginError {
  margin-top: 20px;
  text-align: center;
}

.ButtonBar .OptionButton {
    font-size: 18px;
    height: 100%;
    width: 100px;
    font-weight: 100;
    text-align: center;
    color: white;
}

.ButtonBar #LoginSwitchButton.OptionButton{
  background-color: green;
  float: right;
}

.ButtonBar #RegisterSwitchButton.OptionButton{
  background-color: red;
  float: right;
}

.ButtonBar .AppName{
  float: left;
  color: white;
  font-weight: 100;
  height: 100%;
  width: 300px;
  text-align: center;
  font-size: xx-large;
}