.formContainer {
    background-color: rgb(31, 41, 55);
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 2rem;

    .InputHeader {
        color: white;
    }
    #post_type { 
        width: 8rem;
        height: 2rem;
        margin-bottom: 1rem;
    }
    #post_title {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
    }
    #post_description {
        width: 100%;
        height: 20rem;
        margin-bottom: 1rem;
    }
    #post_content_type {
        width: 8rem;
        height: 2rem;
        margin-bottom: 1rem;
    }
    #post_categories {
        width: 20rem;
        height: 2rem;
        margin-bottom: 1rem;
    }
    #visibility {
        width: 8rem;
        height: 2rem;
        margin-bottom: 2rem;
    }
    .edit-post-button-save {
        background-color: rgb(34, 127, 158);
        color: white;
        width: 7rem;
        height: 3rem;
        border-radius: 0.5rem;
        place-self: center;
        margin-right: 2rem;
    }   
    .cancel-button {
        background-color: rgb(172, 29, 21);
        color: white;
        width: 7rem;
        height: 3rem;
        border-radius: 0.5rem;
        place-self: center;
    }   
}
.post-card {
    display: grid;
    grid-template-columns: 9rem auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: rgb(31, 41, 55);
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 2rem;
}

.foreign1 {
    background-color: #380076;
}

.foreign2 {
    background-color: #6d00e9;
}

.foreign3 {
    background-color: #a51a01;
}


.author-profile-picture {
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 10rem;
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    place-self: center;
    margin-right: 1rem;
    border: 3px solid #d0d0ff;
}
.post-header {
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: auto auto;

    .header-row-1 {
        grid-column-start: 1;
        grid-row-start: 1;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;

        .author-name {
            grid-column-start: 1;
            grid-row-start: 1;
            color: white;
            align-self: center;
            font-size: 27px;
            font-weight: 700;
        }
        .header-buttons {
            grid-column-start: 3;
            grid-row-start: 1;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;

            .post-edit-button {
                grid-column-start: 1;
                grid-row-start: 1;
                color: white;
                background-color: rgb(34, 127, 158);
                width: 7rem;
                height: 3rem;
                border-radius: 0.5rem;
                //justify-self: end;
                margin-right: 1rem;
            }
            .post-delete-button {
                grid-column-start: 2;
                grid-row-start: 1;
                color: white;
                background-color: rgb(172, 29, 21);
                width: 7rem;
                height: 3rem;
                border-radius: 0.5rem;
                //justify-self: end;
                //margin: 1rem;
            }

        }
    }
    .post-title {
        grid-column-start: 1;
        grid-row-start: 2;
        align-self: center;
        color: white;
    }
}
.post-description {
    grid-column-start: 2;
    grid-row-start: 2;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-style: italic;
    font-size: 13px;
}
.post-image {
    grid-column-start: 2;
    grid-row-start: 3;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    img {
        max-width: 25rem;
        max-height: 25rem;
        aspect-ratio: 3 / 2;
    }
}

.post-text {
    grid-column-start: 2;
    grid-row-start: 3;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;

}

.post-commonmark {
    grid-column-start: 2;
    grid-row-start: 3;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;

}

.post-interact {
    grid-column-start: 2;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1rem;
    justify-content: space-between;

    .post-like-button {
        grid-column-start: 1;
        color: white;
        background-color: rgb(36, 124, 21);
        width: 10rem;
        height: 3rem;
        border-radius: 0.5rem;
        //place-self: start;
        //margin: 1rem;
        margin-right: 1rem;
    }
    .post-comment-button {
        grid-column-start: 2;
        color: white;
        background-color: rgb(55, 65, 81);
        width: 10rem;
        height: 3rem;
        border-radius: 0.5rem;
        //place-self: start;
        //margin: 1rem;
        margin-right: 1rem;
    }
    .post-share-button {
        grid-column-start: 3;
        color: white;
        background-color: rgb(151, 108, 28);
        width: 10rem;
        height: 3rem;
        border-radius: 0.5rem;
        //place-self: start;
        //margin: 1rem;
        margin-right: 1rem;
    }
    .post-comments {
        grid-column-start: 4;
        background-color: rgb(17, 24, 39);
        padding: 0.75rem;
        border-radius: 1rem;
        color: white;
        justify-self: start;
        // margin-top: 1rem;
        // margin-right: 1rem;
        height: 3rem;
        width: 10rem;
    }
}
.like-count {
    grid-column-start: 1;
    grid-row-start: 1;
    color: white;
    place-self: center;
}