.page {
    position: relative;
}

.popUpPost {
    position: absolute;
    z-index: 2;
    width: 99vw;
    //height: 700px;
    height: auto;
    //top: 15vh;
    text-align: center;

    .popUpBox{
        margin: auto;
        margin-top: 2%;
        border: 3px solid; 
        width: 70rem;
        max-height: 100%;
        text-align: left;
        background: rgb(18,23,39);
        border-radius: 1.5rem;
        padding: 1rem;

        .InputField{
            margin-bottom: 0.5rem;
            //margin-left: 100px;
            //margin-top: 50px;

            .InputHeader{
                color:white;
            }
        }
        .submitPost{
            color: white;
            margin-bottom: 1rem;
        }
        #post_type { 
            width: 8rem;
            height: 2rem;
            margin-bottom: 0.5rem;
        }
        #post_title {
            width: 100%;
            height: 2rem;
            margin-bottom: 0.5rem;
        }
        #post_description {
            width: 100%;
            height: 12rem;
            margin-bottom: 0.5rem;
        }
        #post_content_type {
            width: 8rem;
            height: 2rem;
            margin-bottom: 0.5rem;
        }
        #post_categories {
            width: 20rem;
            height: 2rem;
            margin-bottom: 0.5rem;
        }
        #visibility {
            width: 8rem;
            height: 2rem;
            margin-bottom: 0.5rem;
        }
        .create-post-button {
            background-color: rgb(36, 124, 21);
            color: white;
            width: 7rem;
            height: 3rem;
            border-radius: 0.5rem;
            place-self: center;
            margin-right: 2rem;
        }  
        .cancel-button {
            background-color: rgb(172, 29, 21);
            color: white;
            width: 7rem;
            height: 3rem;
            border-radius: 0.5rem;
        } 
    }

}

.content {
    z-index: 1;
    position: absolute;
    background-color: rgb(17,24,39);
}

