.PageContainer {
    height: 100vh;
    width: 100vw;
    font-weight: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10rem;
}

.PageContainer .content {
    display: grid;
    grid-template-columns: 15rem 61rem 15rem;
    grid-template-rows: auto auto;
    min-height: 90%;
    width: 100%;
    top:12%;
    gap: 1rem;
    left: 1rem;
    right: 1rem;
}

.PageContainer .ButtonBar{
    background-color: rgb(31, 41, 55);
    width: 100%;
    height: 8.5%;
}

.ButtonBar .AppName{
    float: left;
    color: white;
    font-weight: 100;
    height: 100%;
    width: 300px;
    text-align: center;
    font-size: xx-large;
}

.ButtonBar .OptionButton {
    font-size: 18px;
    height: auto;
    width: 100px;
    font-weight: 100;
    text-align: center;
    color: white;
}

.ButtonBar #LogoutOptionButton.OptionButton{
    background-color: firebrick;
    float: right;
  }

.ButtonBar #LogoutOptionButton.OptionButton:hover{
    transition: 0.2s;
    background-color: black;
}

.sidebar-left {
    grid-column-start: 1;
    grid-row-start: 1;
}
.main-content-middle { 
    grid-column-start: 2;
    grid-row-start: 1;
}
.sidebar-right {
    grid-column-start: 3;
    grid-row-start: 1;
}