.content {
    display: grid;
    grid-template-columns: 20rem auto 20rem;
    grid-template-rows: auto auto;
    min-height: 100%;
    min-width: 100%;
    //overflow-y: scroll;
    // overflow-x: hidden; 
    gap: 1rem;
}
.sidebar-left {
    grid-column-start: 1;
    grid-row-start: 1;
}
.main-content-middle { 
    grid-column-start: 2;
    grid-row-start: 1;
}
.sidebar-right {
    grid-column-start: 3;
    grid-row-start: 1;
}